<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Profit Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5 mb-5" >
        <h2>Stock Profit Calculator</h2>
        <form action = "http://localhost:5000" method = "POST">
            <div class="input-group form-group">
                <span class="input-group-text">Symbol</span>
               <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Enter Stock Symbol" required/>
            </div>
            <div class="input-group form-group">
               <label class="input-group-text" for="allotment">Allotment</label>
               <input type="number" class="form-control" id="allotment" name="allotment" placeholder="Enter the allotment" required>
<!--            </div>-->
<!--            <div class="input-group form-group">-->
               <label class="input-group-text" for="finalSharePrice">Final Share Price</label>
               <input type="number" class="form-control" id="finalSharePrice" name="finalSharePrice" placeholder="Enter final share price" required>
            </div>
            <div class="input-group form-group">
               <label class="input-group-text" for="sellCommission">Sell Commission</label>
               <input type="number" class="form-control" id="sellCommission" name="sellCommission" placeholder="Enter sell commission" required>
<!--            </div>-->
<!--            <div class="input-group form-group">-->
               <label class="input-group-text" for="initialSharePrice">Initial Share Price</label>
               <input type="number" class="form-control" id="initialSharePrice" name="initialSharePrice" placeholder="Enter initial share price" required>
            </div>
            <div class="input-group form-group">
               <label class="input-group-text" for="buyCommission">Buy Commission</label>
               <input type="number" class="form-control" id="buyCommission" name="buyCommission" placeholder="Enter buy commission" required>
<!--            </div>-->
<!--            <div class="input-group form-group">-->
               <label class="input-group-text" for="capitalGainRate">Capital Gain Rate</label>
               <input type="number" class="form-control" id="capitalGainRate" name="capitalGainRate" placeholder="Enter capital gain rate" required>
            </div>
            <button type="submit" class="btn btn-primary">Get Stock Profit</button>
        </form>
        {{result}}
    </div>
</body>
</html>